body{
	overflow-y:hidden;
}
#canvas{
	position: relative;
	margin:0px auto;
	margin-top: 93px;
}
#white1, #white2, #white3 {
	background-image: url("../resources/slot_white.png");
	background-size: 100% 100%;
	float:left;
	margin-top:1%;
	width:25%;
	height:46%;
	text-align: center;
}
#white1, #white2 {
	margin-right:38px;
}
#white1 {
	margin-left:10%;
}
.rose{
	position: relative;
	width: 100%;
}
#black {
	background-image: url("../resources/slot_black.png");
	position: absolute;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#title{
	position: relative;
	margin-top: 58px;
	color: #FFFFFF;
	width: 100%;
	font-size: 5em;
	text-align: center;
	font-family: 'Codystar', cursive;
	font-weight: bold;
	z-index: 100;
}
#total{
	position: absolute;
	bottom: 5%;
	left: 18%;
	color: #FFFFFF;
	width: 15%;
	text-align: right;
	font-size: 44px;
	font-family: 'Lobster';
}
#bet{
	position: absolute;
	bottom: 5%;
	right: 15%;
	color: #FFFFFF;
	width: 13%;
	text-align: right;
	font-size: 44px;
	font-family: 'Lobster';
}
.thorn {
	position: absolute;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.win_light {
	position: absolute;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}