<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="javascripts/slot.js"></script>
		<link rel="stylesheet" href="stylesheets/style.css">
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	</head>
	<script type="text/javascript">
		// initial socket with arduino
		var iosocket;
		var receive_order;
		var coda = 5000;
		var total = 1000000;
		var bet = 500;
		var whole_order = "";
		var money = 0;

		window.onload = function() {
		    initSocketIO();
	    };

		function initSocketIO(){
			iosocket = io.connect();
			iosocket.on('onconnection', function(value) {
				receive_order = value.pollOneValue;
				iosocket.on('update', function (recievedData) {
					receive_order = recievedData.switchValue;
					console.log(receive_order);
					if(receive_order.trim().indexOf("B") >= 0){
						whole_order = receive_order.trim();
					}else if(receive_order.trim().indexOf("E") >= 0){
						whole_order += receive_order.trim();
					}else{
						whole_order += receive_order.trim();
					}

					if(whole_order.indexOf("B") >= 0 && whole_order.indexOf("E") >= 0){
						console.log("money = " + whole_order.substring(1, whole_order.length -1));
						total = parseInt(whole_order.substring(1, whole_order.length -2));
						$("#total_content").text(formatNumber(total)*500);
						$("#bet_content").text(bet);
						whole_order = "";
					}

					// 如果收到開始的訊號
					if($("#swf_thorn_close").html() != ''){
						$("#swf_thorn_open").html('<embed class="thorn" base="." height="100%" loop="false" menu="true" play="true" src="resource/thorn_back.swf" type="application/x-shockwave-flash" width="580" wmode="transparent"></embed>');
						$("#swf_thorn_close").html('');
					}

					setTimeout(function(){
						startGame();
					}, 1000);
				});
		    });
		}
	</script>
	<boby>
		<div>
			<!-- <div><Button id="btn-start" onclick="startGame()">開始遊戲</Button></div> -->
			<div id="canvas">
				<div id="white1">
					<div id="a1"><img src="resources/white.png" class="rose"></div>
					<div id="a2"><img src="resources/white.png" class="rose"></div>
					<div id="a3"><img src="resources/white.png" class="rose"></div>
					<!-- <div id="a4"><img src="resources/white.png" class="rose"></div> -->
				</div>
				<div id="white2">
					<div id="b1"></div>
					<div id="b2"></div>
					<div id="b3"></div>
					<div id="b4"></div>
				</div>
				<div id="white3">
					<div id="c1"></div>
					<div id="c2"></div>
					<div id="c3"></div>
					<div id="c4"></div>
				</div>
			</div>
		</div>

		<div id="black"></div>

		<div id="title"><div>Casink</div></div>
		<div id="total">
			<div id="total_content">999,999</div>
		</div>
		<div id="bet">
			<div id="bet_content">500</div>
		</div>

		<div id="pull"></div>
		<div id="victory"></div>
		<div id="scrolling"></div>
		<div id="swf_thorn_close"></div>
		<div id="swf_thorn_open"></div>
		<div id="swf_winlight"></div>
		<div id="swf_win"></div>
		<!-- <embed class="thorn" base="." height="100%" loop="false" menu="true" play="true" src="resources/thorn.swf" 
				type="application/x-shockwave-flash" width="580" wmode="transparent"></embed>
		<embed class="win_light" base="." height="100%" loop="false" menu="true" play="true" src="resources/win_light.swf" 
				type="application/x-shockwave-flash" width="100%" wmode="transparent"></embed> -->
	</boby>
</html>